# {{ ansible_managed }}
{#

This file follows the upstream default configuration except for the parts
that are configurable via DebOps variables. If you need a more customized
setup, you can provide your own template via lookup mechanism.

#}

{% if dovecot_user_accounts is defined and dovecot_user_accounts %}
{%   if 'ldap' in dovecot_user_accounts %}
# Authentication for SQL users. Included from 10-auth.conf.

passdb {
    driver  = ldap
    args    = /etc/dovecot/dovecot-ldap.conf.ext

    # Default fields can be used to specify defaults that LDAP may override
    default_fields = home=/var/vmail/%Ln uid=vmail gid=mail
}

##
## User databases
##

userdb {
    driver  = ldap
    args    = /etc/dovecot/dovecot-ldap.conf.ext
    # Default fields can be used to specify defaults that LDAP may override
    default_fields = home=/var/vmail/%Ln uid=vmail gid=mail
}
{%   else %}
# DebOps variable dovecot_user_accounts={{ dovecot_user_accounts }}
{%   endif %}
{% else %}
# DebOps variable dovecot_user_accounts={{ dovecot_user_accounts|default([]) }}
{% endif %}
