[Unit]
Description=Prometheus exporter for postfix
Documentation=https://github.com/kumina/postfix_exporter

[Service]
Restart=always
User=postfix
ExecStart=/opt/postfix-exporter -systemd.enable -systemd.unit postfix@-.service
TimeoutStopSec=20s

[Install]
WantedBy=multi-user.target

